* {
  font-family: "Rubik", sans-serif;
  margin: auto;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  color: antiquewhite;
  background-image: url(/background-1000x500.jpg);
  background-attachment: fixed;
  background-size: cover;
}

div {
  display: block;
}

ul {
  list-style: none;
}

.container {
  position: relative;
}

.ht {
  padding-top: 80px;
  padding-bottom: 30px;
}

.ht h2 {
  padding-left: 15px;
}

.columns {
  width: 70%;
  position: relative;
  display: flex;
}

.columns h3 {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 50px;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}

.columns p {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 50px;
}

.ht h1 {
  font-size: 56px;
  display: inline-block;
}

.ht h2 {
  font-size: 18px;
  display: inline-block;
}

.header {
  padding: 25px;
  text-align: center;
}

.container .header {
  background: #000000a6;
}

.header-content {
  font-size: 250%;
  margin-top: 30px;
  margin-right: 30%;
  margin-left: 30%;
}

.header img {
  margin: 20px;
  border-radius: 50%;
}

.header h1 {
  font-size: 3em;
}

.sub-tittle {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
}

.about-me {
  background: #161681c4;
}

.ht {
  width: 70%;
}

.service {
  background: #c02e2ec4;
}

.service h3 {
  margin: 0 15%;
  padding-right: 20px;
  padding-bottom: 50px;
}

.columns ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-right: 15px;
  padding-bottom: 50px;
}

.columns h4 {
  align-content: center;
}

.contact {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact h1 {
  padding-top: 15px;
}