body {
  background-color: #3babfd;
}

#name {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  text-align: center;
}

.picture {
  padding: 10px solid #881410;
}

span {
  margin-left: 8px;
  position: absolute;
  float: right;
  width: 70%;
}

.description {
  font-family: "Verdana", sans-serif;
}

.contrast { 
  font-style: italic;
}

.contrast-list {
  font-size: 0.8em;
}